<div class="demo-fake-body">
  <nav class="demo-fake-nav">
    <div class="demo-fake-logo">Bookface</div>
    <div class="demo-fake-notifications">
      <BasicDropdown @horizontalPosition="right" as |dd|>
        <dd.Trigger
          {{on "mousedown" this.prevent}}
          {{on "mouseenter" (fn this.open dd)}}
          {{on "mouseleave" (fn this.closeLater dd)}}>
          {{fa-icon "bell-o"}}
          <span class="demo-fake-notifications-count">{{notifications.length}}</span>
        </dd.Trigger>

        <dd.Content {{on "mouseenter" (fn this.open dd)}} {{on "mouseleave" (fn this.closeLater dd)}} class="demo-fake-notifications-content">
          <ul class="demo-fake-notifications-list">
            {{#each notifications as |notification|}}
              <li class="demo-fake-notification-entry">
                {{fa-icon "phone-square" size=2}}
                <span>{{notification.text}}</span>
              </li>
            {{/each}}
          </ul>
        </dd.Content>
      </BasicDropdown>
    </div>
  </nav>
</div>