<div class="button-pull-{{buttonPosition}}">
  {{#basic-dropdown horizontalPosition=horizontalPosition
                    verticalPosition=verticalPosition as |dd|}}

    {{#dd.trigger class="trigger-bootstrap-feel"}}Click me{{/dd.trigger}}

    {{#dd.content class="content-bootstrap-feel"}}
      <img src="/lts.png" alt="tomster">
      {{!-- <p>Hello ember friends!</p> --}}
    {{/dd.content}}
  {{/basic-dropdown}}
</div>
<p>
  Horizontal
  <br>
  <input type="radio" id="h-auto" checked={{eq horizontalPosition 'auto'}} onchange={{action (mut horizontalPosition) 'auto'}}>
  <label for="h-auto">auto</label>
  <input type="radio" id="h-left" checked={{eq horizontalPosition 'left'}} onchange={{action (mut horizontalPosition) 'left'}}>
  <label for="h-left">left</label>
  <input type="radio" id="h-center" checked={{eq horizontalPosition 'center'}} onchange={{action (mut horizontalPosition) 'center'}}>
  <label for="h-center">center</label>
  <input type="radio" id="h-right" checked={{eq horizontalPosition 'right'}} onchange={{action (mut horizontalPosition) 'right'}}>
  <label for="h-right">right</label>
</p>
<p>
  Vertical
  <br>
  <input type="radio" id="v-auto" checked={{eq verticalPosition 'auto'}} onchange={{action (mut verticalPosition) 'auto'}}>
  <label for="v-auto">auto</label>
  <input type="radio" id="v-above" checked={{eq verticalPosition 'above'}} onchange={{action (mut verticalPosition) 'above'}}>
  <label for="v-above">above</label>
  <input type="radio" id="v-below" checked={{eq verticalPosition 'below'}} onchange={{action (mut verticalPosition) 'below'}}>
  <label for="v-below">below</label>
</p>
<p>
  Button position
  <br>
  <input type="radio" id="btn-pos-left" checked={{eq buttonPosition 'left'}} onchange={{action (mut buttonPosition) 'left'}}>
  <label for="btn-pos-left">left</label>
  <input type="radio" id="btn-pos-right" checked={{eq buttonPosition 'right'}} onchange={{action (mut buttonPosition) 'right'}}>
  <label for="btn-pos-right">right</label>
</p>
