<input type="checkbox" id="enable-dd-chk" checked={{not dropdownDisabled}}
  onchange={{action (mut dropdownDisabled) (not dropdownDisabled)}}>
<label for="enable-dd-chk" style={{checkboxLabelStyle}}>Enable dropdown</label>
<br>

<BasicDropdown @disabled={{dropdownDisabled}} as |dd|>
  <dd.Trigger
    @onMouseEnter={{action "highlightCheckboxIfDisabled"}}
    @onMouseLeave={{action "resetHighlight"}}
    class="trigger-bootstrap-feel">
    Can you open me?
  </dd.Trigger>

  <dd.Content class="content-bootstrap-feel width-300">
    You solved the puzzle!
  </dd.Content>
</BasicDropdown>