{{#let (element (or @htmlTag "div")) as |Element|}}
  <Element
    class="ember-basic-dropdown-trigger{{if @renderInPlace " ember-basic-dropdown-trigger--in-place"}}{{if @hPosition (concat " ember-basic-dropdown-trigger--" @hPosition)}}{{if @vPosition (concat " ember-basic-dropdown-trigger--" @vPosition)}}"
    role="button"
    tabindex={{unless @dropdown.disabled "0"}}
    data-ebd-id={{this.uniqueId}}
    aria-owns={{this.dropdownId}}
    aria-expanded={{if @dropdown.isOpen "true"}}
    aria-disabled={{if @dropdown.disabled "true"}}
    ...attributes
    onmousedown={{action "handleMouseDown"}}
    onclick={{action "handleClick"}}
    onkeydown={{action "handleKeyDown"}}>
    {{yield}} {{#if didOpen}}<span class="did-open-span">Did open!</span>{{/if}}
  </Element>
{{/let}}