{{#if dropdown.isOpen}}
  {{#ember-wormhole to=to renderInPlace=renderInPlace}}
    {{#if overlay}}
      <div class="ember-basic-dropdown-overlay"></div>
    {{/if}}
    <div
      id={{dropdownId}}
      class="ember-basic-dropdown-content {{class}} {{defaultClass}} {{if renderInPlace 'ember-basic-dropdown-content--in-place'}} {{if hPosition (concat 'ember-basic-dropdown-content--' hPosition)}} {{if vPosition (concat 'ember-basic-dropdown-content--' vPosition)}} {{animationClass}}"
      style={{style}}
      dir={{dir}}>
      {{yield}}
    </div>
  {{/ember-wormhole}}
{{else}}
  <div id={{dropdownId}} style="display: none;"></div>
{{/if}}