<section class="docs">
  <nav class="side-nav">
    {{#each this.groupedSections key="id" as |group|}}
      <header class="side-nav-header" id={{group.id}}>
        {{group.groupName}}
      </header>
      {{#each group.options key="route" as |option|}}
        <LinkTo
          @route={{option.route}}
          @current-when={{option.route}}
          class="side-nav-link"
        >
          {{option.text}}
        </LinkTo>
      {{/each}}
    {{/each}}
  </nav>
  <section class="doc-page">
    <select class="section-selector" {{on "change" this.visit}}>
      {{#each this.groupedSections key="id" as |group|}}
        <optgroup label={{group.groupName}}>
          {{#each group.options key="route" as |section|}}
            <option
              value={{section.route}}
              selected={{eq section.route this.currentSection.route}}
            >
              {{section.text}}
            </option>
          {{/each}}
        </optgroup>
      {{/each}}
    </select>
    {{outlet}}
  </section>
</section>