<div class='demo-fake-body'>
  <nav class='demo-fake-nav'>
    <div class='demo-fake-logo'>Bookface</div>
    <div class='demo-fake-notifications'>
      <BasicDropdown @horizontalPosition='right' as |dd|>
        {{!-- template-lint-disable no-pointer-down-event-binding --}}
        <dd.Trigger
          {{on 'mousedown' this.prevent}}
          {{on 'mouseenter' (fn this.open dd)}}
          {{on 'mouseleave' (fn this.closeLater dd)}}
        >
          <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'>
            <path
              fill='currentColor'
              d='M439.39 362.29c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71zM67.53 368c21.22-27.97 44.42-74.33 44.53-159.42 0-.2-.06-.38-.06-.58 0-61.86 50.14-112 112-112s112 50.14 112 112c0 .2-.06.38-.06.58.11 85.1 23.31 131.46 44.53 159.42H67.53zM224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64z'
            ></path>
          </svg>
          <span
            class='demo-fake-notifications-count'
          >{{this.notifications.length}}</span>
        </dd.Trigger>

        <dd.Content
          {{on 'mouseenter' (fn this.open dd)}}
          {{on 'mouseleave' (fn this.closeLater dd)}}
          class='demo-fake-notifications-content'
        >
          <ul class='demo-fake-notifications-list'>
            {{#each this.notifications as |notification|}}
              <li class='demo-fake-notification-entry'>
                <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'>
                  <path
                    fill='currentColor'
                    d='M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48zm-16.39 307.37l-15 65A15 15 0 0 1 354 416C194 416 64 286.29 64 126a15.7 15.7 0 0 1 11.63-14.61l65-15A18.23 18.23 0 0 1 144 96a16.27 16.27 0 0 1 13.79 9.09l30 70A17.9 17.9 0 0 1 189 181a17 17 0 0 1-5.5 11.61l-37.89 31a231.91 231.91 0 0 0 110.78 110.78l31-37.89A17 17 0 0 1 299 291a17.85 17.85 0 0 1 5.91 1.21l70 30A16.25 16.25 0 0 1 384 336a17.41 17.41 0 0 1-.39 3.37z'
                  ></path>
                </svg>
                <span>{{notification.text}}</span>
              </li>
            {{/each}}
          </ul>
        </dd.Content>
      </BasicDropdown>
    </div>
  </nav>
</div>