<p>Focus alternatively the input and the button next to it</p>
<div class='trigger-event-demo input-group {{this.parentDivClass}}'>
  <input
    type='text'
    class='form-control'
    {{on 'focus' this.simulateFocusParent}}
    {{on 'blur' this.simulateBlurParent}}
  />

  <BasicDropdown as |dd|>
    <dd.Trigger
      {{on 'focus' this.simulateFocusParent}}
      {{on 'blur' this.simulateBlurParent}}
      class='input-group-addon'
    >
      <span class='caret'></span>
    </dd.Trigger>

    <dd.Content class='content-bootstrap-feel width-300'>
      <p>Option1</p>
      <p>Option2</p>
    </dd.Content>
  </BasicDropdown>
</div>