{{! template-lint-disable no-inline-styles }}
{{#if @dropdown.isOpen}}
  <div class="ember-basic-dropdown-content-wormhole-origin">
    {{#maybe-in-element this.destinationElement @renderInPlace}}
      {{#if @overlay}}
        <div class="ember-basic-dropdown-overlay"></div>
      {{/if}}
      {{#let (element (or @htmlTag "div")) as |Element|}}
        <Element
          id={{this.dropdownId}}
          class="ember-basic-dropdown-content ember-basic-dropdown-content--{{@hPosition}} ember-basic-dropdown-content--{{@vPosition}} {{this.animationClass}}{{if @renderInPlace " ember-basic-dropdown-content--in-place"}} {{@defaultClass}}"
          style={{this.style}}
          dir={{@dir}}
          {{did-insert this.setup}}
          {{did-insert @dropdown.actions.reposition}}
          {{did-insert this.setupMutationObserver}}
          {{did-insert this.animateIn}}
          {{will-destroy this.teardownMutationObserver}}
          {{will-destroy this.animateOut}}
          {{will-destroy this.teardown}}

          {{!-- V1 compatibility - See #498 --}}
          {{on "focusin" (fn (or @onFocusIn this.noop) @dropdown)}}
          {{on "focusout" (fn (or @onFocusOut this.noop) @dropdown)}}
          {{on "mouseenter" (fn (or @onMouseEnter this.noop) @dropdown)}}
          {{on "mouseleave" (fn (or @onMouseLeave this.noop) @dropdown)}}
          ...attributes>
          {{yield}}
        </Element>
      {{/let}}
    {{/maybe-in-element}}
  </div>
{{else}}
  <div id={{this.dropdownId}} class="ember-basic-dropdown-content-placeholder" style="display: none;"></div>
{{/if}}