<div class="ember-basic-dropdown-trigger {{triggerClass}}"
    id={{triggerId}}
    tabindex={{tabIndex}}
    role={{role}}
    aria-disabled={{disabled}}
    aria-expanded={{publicAPI.isOpen}}
    aria-pressed={{publicAPI.isOpen}}
    aria-haspopup="true"
    aria-controls={{dropdownId}}
    aria-labelledby={{ariaLabelledBy}}
    aria-describedby={{ariaDescribedBy}}
    aria-required={{ariaRequired}}
    aria-invalid={{ariaInvalid}}
    onkeydown={{action "keydown"}}
    onmousedown={{action "handleMousedown"}}
    onfocus={{action "handleFocus"}}>
  {{yield to="inverse"}}
</div>
{{#if opened}}
  {{#ember-wormhole to=_wormholeDestination renderInPlace=renderInPlace}}
    <div id={{dropdownId}} class="ember-basic-dropdown-content {{dropdownClass}} {{_verticalPositionClass}} {{_horizontalPositionClass}}" dir={{dir}}>
      {{yield publicAPI}}
    </div>
  {{/ember-wormhole}}
{{/if}}
