<div class="ember-basic-dropdown-trigger {{triggerClass}}" tabindex={{tabIndex}} onkeydown={{action "keydown"}} onclick={{action "toggle"}} onfocus={{action "focusTrigger"}}>
  {{yield to="inverse"}}
</div>
{{#if publicAPI.isOpen}}
  {{#ember-wormhole to=_wormholeDestination renderInPlace=renderInPlace}}
    <div class="ember-basic-dropdown-content {{dropdownClass}} {{_dropdownPositionClass}}">
      {{yield publicAPI}}
    </div>
  {{/ember-wormhole}}
{{/if}}