<div class="ember-basic-dropdown-trigger {{triggerClass}}"
    id={{triggerId}}
    tabindex={{tabIndex}}
    role={{role}}
    aria-labelledby={{ariaLabelledBy}}
    aria-describedby={{ariaDescribedBy}}
    aria-required={{ariaRequired}}
    aria-invalid={{ariaInvalid}}
    onkeydown={{action "keydown"}}
    onmousedown={{action "toggle"}}
    onfocus={{action "focusTrigger"}}>
  {{yield to="inverse"}}
</div>
{{#if opened}}
  {{#ember-wormhole to=_wormholeDestination renderInPlace=renderInPlace}}
    <div class="ember-basic-dropdown-content {{dropdownClass}} {{_verticalPositionClass}} {{_horizontalPositionClass}}" dir={{dir}}>
      {{yield publicAPI}}
    </div>
  {{/ember-wormhole}}
{{/if}}
