<div class="ember-basic-dropdown-trigger {{triggerClass}}"
    id={{triggerId}}
    tabindex={{tabIndex}}
    role={{role}}
    aria-disabled={{disabled}}
    aria-expanded={{publicAPI.isOpen}}
    aria-pressed={{publicAPI.isOpen}}
    aria-haspopup="true"
    aria-controls={{dropdownId}}
    aria-labelledby={{ariaLabelledBy}}
    aria-describedby={{ariaDescribedBy}}
    aria-required={{ariaRequired}}
    aria-invalid={{ariaInvalid}}
    onkeydown={{action "keydown"}}
    onfocus={{action "handleFocus"}}>
  {{yield to="inverse"}}
</div>
{{#if publicAPI.isOpen}}
  {{#basic-dropdown/content
    to=wormholeDestination
    renderInPlace=renderInPlace
    dropdownId=dropdownId
    dropdownClass=dropdownClass
    verticalPositionClass=_verticalPositionClass
    horizontalPositionClass=_horizontalPositionClass
    onFocusIn=(action 'handleFocusIn')
    onFocusOut=(action 'handleFocusOut')
    dir=dir}}
    {{yield publicAPI}}
  {{/basic-dropdown/content}}
{{/if}}
