<div class="ember-basic-dropdown-trigger {{triggerClass}}"
  aria-controls={{dropdownId}}
  aria-describedby={{ariaDescribedBy}}
  aria-disabled={{disabled}}
  aria-expanded={{publicAPI.isOpen}}
  aria-haspopup="true"
  aria-invalid={{ariaInvalid}}
  aria-label={{ariaLabel}}
  aria-labelledby={{ariaLabelledBy}}
  aria-pressed={{publicAPI.isOpen}}
  aria-required={{ariaRequired}}
  id={{triggerId}}
  onfocus={{action "handleFocus"}}
  onkeydown={{action "keydown"}}
  role={{role}}
  tabindex={{tabIndex}}>
  {{yield to="inverse"}}
</div>
{{#if publicAPI.isOpen}}
  {{#basic-dropdown/content
    to=wormholeDestination
    renderInPlace=renderInPlace
    appRoot=appRoot
    dropdownId=dropdownId
    dropdownClass=dropdownClass
    verticalPositionClass=_verticalPositionClass
    horizontalPositionClass=_horizontalPositionClass
    close=publicAPI.actions.close
    reposition=publicAPI.actions.reposition
    onFocusIn=(action 'handleFocusIn')
    onFocusOut=(action 'handleFocusOut')
    dir=dir}}
    {{yield publicAPI}}
  {{/basic-dropdown/content}}
{{/if}}
