<div class="ember-basic-dropdown-trigger" tabindex="{{tabindex}}" onkeydown={{action "keydown"}} onclick={{action "toggle"}}>
  {{yield this}}
</div>
{{#if _opened}}
  {{#ember-wormhole to=_wormholeDestination renderInPlace=renderInPlace}}
    <div class="ember-basic-dropdown-content {{_dropdownPositionClass}}">
      {{yield this to="inverse"}}
    </div>
  {{/ember-wormhole}}
{{/if}}