<div class="ember-basic-dropdown-trigger {{triggerClass}}" tabindex={{tabindex}} onkeydown={{action "keydown"}} onclick={{action "toggle"}} onfocus={{action "focusTrigger"}}>
  {{yield to="inverse"}}
</div>
{{#if _opened}}
  {{#ember-wormhole to=_wormholeDestination renderInPlace=renderInPlace}}
    <div class="ember-basic-dropdown-content {{dropdownClass}} {{_dropdownPositionClass}}">
      {{yield (action "toggle")}}
    </div>
  {{/ember-wormhole}}
{{/if}}