{{#if dropdown.isOpen}}
  {{#ember-wormhole class="ember-basic-dropdown-content" to=(readonly to) renderInPlace=(readonly renderInPlace)}}
    <div id={{dropdownId}} class="ember-basic-dropdown-content {{transitionClass}} {{dropdownClass}} {{verticalPositionClass}} {{horizontalPositionClass}}" dir={{dir}}>
      {{yield}}
    </div>
  {{/ember-wormhole}}
{{/if}}