<h2 id="title">Welcome to Ember</h2>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>

{{#basic-dropdown dropdownClass="bounce-animation-dropdown" as |dropdown|}}
  <p>This is the content</p>
  <h3>It can contain anything.</h3>
  {{#if showImage}}
    <img src="/grumpy-cat.png" alt="grumpy cat" width="300" height="300">
  {{/if}}
  <input type="text">
{{else}}
  <input type="text" placeholder="Click me">
{{/basic-dropdown}}

<div id="wormhole-target"></div>
<br>
<br>
<br>
<a href="#" {{action "toggleOpened"}}>Toggle the dropdown above</a>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>
{{#unless hidden}}
  <div style="margin: 50px; padding: 25px; position: absolute; left: 40px">
    <div>
      {{#basic-dropdown class="dropdown-300px" matchTriggerWidth=true as |dropdown|}}
        <p>This is the content</p>
        <h3>It can contain anything.</h3>
        {{#if showImage}}
          <img src="/grumpy-cat.png" alt="grumpy cat">
        {{/if}}
      {{else}}
        <button>
          Fixed width
        </button>
      {{/basic-dropdown}}
    </div>
  </div>
{{/unless}}

<button onclick={{action (mut hidden) true}}>Hide</button>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>

<h4>Nested dropdowns</h4>

{{#basic-dropdown as |dropdown|}}
  <p style="color: green;">
    <br>
      First level of the dropdpwn
    <br>
  </p>
  {{#basic-dropdown as |dropdown|}}
    <p style="color: red;">
      <br>
      Second level of the second
      <br>
    </p>
  {{else}}
    <button>Trigger of the second dropdown</button>
  {{/basic-dropdown}}
{{else}}
  <button>Trigger of the first dropdown</button>
{{/basic-dropdown}}

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>
{{#basic-dropdown tabindex=-1 disabled=false dropdownClass="complex-animation-dropdown" as |dropdown|}}
  <p>This dropdown has a complext animation!!!!</p>
  <p>This dropdown has a complext animation!!!!</p>
  <p>This dropdown has a complext animation!!!!</p>
  <p>This dropdown has a complext animation!!!!</p>
  <p>This dropdown has a complext animation!!!!</p>
  <p>This dropdown has a complext animation!!!!</p>
  <p>This dropdown has a complext animation!!!!</p>
{{else}}
  <strong tabindex="0">
    This is the trigger
  </strong>
{{/basic-dropdown}}
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>

{{#basic-dropdown tabindex=-1 disabled=false dropdownClass="bounce-animation-dropdown" as |dropdown|}}
  <p>This dropdown has a complext animation!!!!</p>
  <p>This dropdown has a complext animation!!!!</p>
  <img src="/grumpy-cat.png" alt="grumpy cat">
{{else}}
  <strong tabindex="0">
    This is the trigger
  </strong>
{{/basic-dropdown}}
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis deserunt rerum minus? Cumque accusantium earum asperiores eos, ea autem. Earum consequatur dolores laborum ut, eaque ipsam sapiente, excepturi asperiores.
</p>
